{% extends 'mailchimp-commerce/_layout' %}
{% import '_includes/forms' as forms %}
{% set title = 'Field Mappings'|t('mailchimp-commerce') %}
{% set fullPageForm = true %}

{% macro rows(products, handle, settings, fields) %}
	{% for product in products %}
		{% for type in product.types %}
			<tr>
				<td>{{ type.name }} ({{ product.name }})</td>
				<td>
					{{ forms.select({
						name: handle ~ '[' ~ type.uid ~ ']',
						value: settings[handle][type.uid] ?? null,
						options: fields,
					}) }}
				</td>
			</tr>
		{% endfor %}
	{% endfor %}
{% endmacro %}
{% from _self import rows %}

{% block content %}
	<input type="hidden" name="action" value="plugins/save-plugin-settings">
	<input type="hidden" name="pluginHandle" value="mailchimp-commerce">

	{% namespace 'settings' %}
		{{ forms.selectField({
			first: true,
			name: 'optInField',
			label: 'Opt-in Field'|t('mailchimp-commerce'),
			instructions: 'The field to use to check if the customer has opted in to marketing emails. This can be on the order or user. Must be a lightswitch.'|t('mailchimp-commerce'),
			value: settings.optInField,
			options: lightswitchFields,
		}) }}

		{% set input %}
			<table class="data fullwidth collapsible">
				<tbody>
					{{ rows(products, 'productVendorFields', settings, fields) }}
				</tbody>
			</table>
		{% endset %}
		{{ forms.field({
			label: 'Product Vendor'|t('mailchimp-commerce'),
			instructions: 'Will fallback to the store name if not set.'|t('mailchimp-commerce'),
		}, input) }}

		{% set input %}
			<table class="data fullwidth collapsible">
				<tbody>
					{{ rows(products, 'productDescriptionFields', settings, fields) }}
				</tbody>
			</table>
		{% endset %}
		{{ forms.field({
			label: 'Product Description'|t('mailchimp-commerce'),
		}, input) }}

		{% set input %}
			<table class="data fullwidth collapsible">
				<tbody>
					{{ rows(products, 'productThumbnailFields', settings, assetFields) }}
				</tbody>
			</table>
		{% endset %}
		{{ forms.field({
			label: 'Product Thumbnail'|t('mailchimp-commerce'),
		}, input) }}

		{% set input %}
			<table class="data fullwidth collapsible">
				<tbody>
					{{ rows(products, 'productImageFields', settings, assetFields) }}
				</tbody>
			</table>
		{% endset %}
		{{ forms.field({
			label: 'Product Images'|t('mailchimp-commerce'),
		}, input) }}

		{% set input %}
			<table class="data fullwidth collapsible">
				<tbody>
					{{ rows(products, 'variantThumbnailFields', settings, assetFields) }}
				</tbody>
			</table>
		{% endset %}
		{{ forms.field({
			label: 'Variant Thumbnail'|t('mailchimp-commerce'),
		}, input) }}

		{% set input %}
			<table class="data fullwidth collapsible">
				<tbody>
					{{ rows(products, 'variantImageFields', settings, assetFields) }}
				</tbody>
			</table>
		{% endset %}
		{{ forms.field({
			label: 'Variant Images'|t('mailchimp-commerce'),
		}, input) }}

	{% endnamespace %}

{% endblock %}
