{% extends 'mailchimp-commerce/_layout' %}
{% import '_includes/forms' as forms %}
{% set title = 'Sync'|t('mailchimp-commerce') %}

{% block content %}

	<h2>{{ 'Store'|t('commerce') }}</h2>

	<p>{{ 'Manually sync the store if your domain or other details have changed.'|t('mailchimp-commerce') }}</p>

	<form method="post">
		{{ csrfInput() }}
		<input type="hidden" name="action" value="mailchimp-commerce/sync/store">
		<input type="submit" class="btn submit" value="{{ 'Sync Store'|t('mailchimp-commerce') }}">
	</form>

	<hr>

	<h2>{{ 'Products'|t('commerce') }}</h2>

	<p>
		{{ '{synced} of {total, plural, =1{1 product} other{# products}} have been synced.'|t('mailchimp-commerce', {
			synced: totalProductsSynced,
			total: craft.products.count(),
		}) }}
	</p>

	<form method="post">
		{{ csrfInput() }}
		<input type="hidden" name="action" value="mailchimp-commerce/sync/all-products">
		{{ forms.select({
			name: 'typeId',
			options: productTypes,
		}) }}
		<input type="submit" class="btn submit" value="{{ 'Sync Products'|t('mailchimp-commerce') }}">
	</form>

	<hr>

	<h2>{{ 'Carts'|t('commerce') }}</h2>

	<p>
		{{ '{synced} of {total, plural, =1{1 cart} other{# carts}} have been synced.'|t('mailchimp-commerce', {
			synced: totalCartsSynced,
			total: craft.orders.isCompleted(false).count(),
		}) }}
	</p>
	<p>{{ 'Some carts may not appear to sync. This is due to them not having either an email or any line items.'|t('mailchimp-commerce') }}</p>

	<form method="post">
		{{ csrfInput() }}
		<input type="hidden" name="action" value="mailchimp-commerce/sync/all-carts">
		<input type="submit" class="btn submit" value="{{ 'Sync All Carts'|t('mailchimp-commerce') }}">
	</form>

	<hr>

	<h2>{{ 'Orders'|t('commerce') }}</h2>

	<p>
		{{ '{synced} of {total, plural, =1{1 order} other{# orders}} have been synced.'|t('mailchimp-commerce', {
			synced: totalOrdersSynced,
			total: craft.orders.isCompleted(true).count(),
		}) }}
	</p>

	<form method="post">
		{{ csrfInput() }}
		<input type="hidden" name="action" value="mailchimp-commerce/sync/all-orders">
		<input type="submit" class="btn submit" value="{{ 'Sync All Orders'|t('mailchimp-commerce') }}">
	</form>

	<hr>

	<h2>{{ 'Customers'|t('commerce') }}</h2>

	<p class="light"><strong>Coming Soon</strong>. Customers are automatically synced with orders.</p>

	<hr>

	<h2>{{ 'Promotions'|t('commerce') }}</h2>

	<p class="light"><strong>Coming Soon</strong>.</p>

{% endblock %}